@using PlantiT.Web.HeinekenMassafra
@using PlantiT.Web.PortalInfo

@{ 
    var webPortalInfo = ((IPWebPortalInfo)DependencyResolver.Current.GetService<IPWebPortalInfo>());
}

@section Styles
{
    @Styles.Render("~/Areas/PlantiT.Web.HeinekenMassafra.MES/Content/Styles/angular/angularBundle")
    @Styles.Render("~/Areas/PlantiT.Web.HeinekenMassafra.MES/Content/Styles/kendo/kendoBundle")
    @Styles.Render("~/Areas/PlantiT.Web.HeinekenMassafra.MES/Content/Styles/MaintainTemplateBundle")

}

@section Scripts
{

    @Scripts.Render("~/Areas/PlantiT.Web.HeinekenMassafra.MES/Content/Scripts/jQuery/jQueryBundle")
    @Scripts.Render("~/Areas/PlantiT.Web.HeinekenMassafra.MES/Content/Scripts/jQuery-ui/jQuery-uiBundle")
    @Scripts.Render("~/Areas/PlantiT.Web.HeinekenMassafra.MES/Content/Scripts/angular/angularBundle")
    @Scripts.Render("~/Areas/PlantiT.Web.HeinekenMassafra.MES/Content/Scripts/kendo/kendoBundle")
    @Scripts.Render("~/Areas/PlantiT.Web.HeinekenMassafra.MES/Content/Scripts/he/heBundle")
    @Scripts.Render("~/Areas/PlantiT.Web.HeinekenMassafra.MES/Content/Scripts/jszip/jszipBundle")


    @Scripts.Render("~/Areas/PlantiT.Web.HeinekenMassafra.MES/Content/Scripts/HelperBundle")
    @Scripts.Render("~/Areas/PlantiT.Web.HeinekenMassafra.MES/Content/Scripts/MaintainTemplateBundle")
}

@{
    ViewBag.Title = @PLanguageTexts.TXT_MAINTAIN_TEMPLATE;
}



<script type="text/javascript">
    kendo.culture("it");
    var resizeViewContent = function () {
        // Passt nach jeder Änderung der Fenstergröße die Höhe des ViewContent an (weißer Hintergrund)
        var contentHeight = $("#MainContent").innerHeight() - ($("#viewHeadline").outerHeight() + $("#viewNavigation").outerHeight());
        $("#viewContent").css("height", contentHeight + "px");
    }

    $(document).on("ready", resizeViewContent);
    $(window).on("resize", resizeViewContent);

    var decodeString = function (string) {
        return he.decode(string,
        {
            "strict": false
        });
    }


    app.service('txt', function () {
        return {
            TXT_MAINTAIN_TEMPLATE: decodeString("@PLanguageTexts.TXT_MAINTAIN_TEMPLATE"),
            TXT_DELETE: decodeString("@PLanguageTexts.TXT_DELETE"),
            TXT_CREATED: decodeString("@PLanguageTexts.TXT_CREATED"),
            TXT_USAGE: decodeString("@PLanguageTexts.TXT_USAGE"),
            TXT_CREATED_USER: decodeString("@PLanguageTexts.TXT_CREATED_USER"),
            TXT_LAST_MODIFIED: decodeString("@PLanguageTexts.TXT_LAST_MODIFIED"),
            TXT_LAST_MODIFIED_USER: decodeString("@PLanguageTexts.TXT_LAST_MODIFIED_USER"),
            TXT_TEMPLATE: decodeString("@PLanguageTexts.TXT_TEMPLATE"),
            TXT_TEMPLATE_NAME: decodeString("@PLanguageTexts.TXT_TEMPLATE_NAME"),
            TXT_INSERT_NEW_LINE: decodeString("@PLanguageTexts.TXT_INSERT_NEW_LINE"),
            TXT_MATERIAL: decodeString("@PLanguageTexts.TXT_MATERIAL"),
            TXT_STARTS_WITH: decodeString("@PLanguageTexts.TXT_STARTS_WITH"),
            TXT_IS_EQUAL_TO: decodeString("@PLanguageTexts.TXT_IS_EQUAL_TO"),
            TXT_IS_NOT_EQUAL_TO: decodeString("@PLanguageTexts.TXT_IS_NOT_EQUAL_TO"),
            TXT_VALUE_CATEGORY: decodeString("@PLanguageTexts.TXT_VALUE_CATEGORY")            
        };
    });

</script>


<input type="hidden" id="gatewayPath" data-value="@ViewBag.GatewayPath" />
<input type="hidden" id="authenticationToken" data-value="@ViewBag.AuthenticationToken" />
<input type="hidden" id="authenticationType" data-value="@ViewBag.AuthenticationType" />
<input type="hidden" id="select_usage" data-value="@ViewBag.select_usage" />
<input type="hidden" id="portalUser" data-value="@webPortalInfo.UserName" />   


<section class="view">

    
    <div id="appKendoMaintainTemplate" ng-app="KendoMaintainTemplate">
        <div id="MaintainTemplateCtrl" ng-controller="MaintainTemplateCtrl" ng-init="OnInitMaintainTemplateHeaders()">



          

            <div id="viewHeadline" class="viewHeadline row">
                <h1 class="h1WhiteFont">@ViewBag.Title ({{TemplateHeaderName}}) </h1>
            </div>

            <div id="viewNavigation" class="viewNavigation row">
                <table border="0" class="navigationBar">
                    <tr>
                        <td class="navigationBar-left">                            
                            <kendo-button class="save" ng-click="OnGridMaintainTemplateSave()">@PLanguageTexts.TXT_SAVE</kendo-button>
                            <kendo-button class="cancel" ng-click="OnGridMaintainTemplateRefresh()">@PLanguageTexts.TXT_CANCEL</kendo-button>
                        </td>
                    </tr>
                </table>
            </div>
  
            <div id="viewContent" class="viewContent row">
                <div kendo-grid="gridMaintainTemplateHeaders" k-options="gridMaintainTemplateHeaders">
                    <div k-detail-template>
                        <div kendo-tabstrip="tabStripMaintainTemplateHeaders" k-options="tabStripMaintainTemplateHeaders">
                            <ul>
                                <li id="tabStripMaintainTemplateHeadersValues" class="k-state-active">@PLanguageTexts.TXT_VALUES</li>
                            </ul>
                            <div id="gridMaintainTemplateValue" kendo-grid="gridMaintainTemplateValue" k-options="gridMaintainTemplateValue(dataItem)">  
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>